basePath: /api
host: localhost:8080
info:
  contact:
    email: support@example.com
    name: API Support
  description: API for managing tasks and notes
  title: Task API
  version: "1.0"
paths: {}
securityDefinitions:
  BearerAuth:
    description: Type "Bearer" followed by your token
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
